/xps
/build
/.idea
/trustgan.egg-info
run.ipynb
.*.pyc
.*checkpoint.*
.ipynb_checkpoints/compile-checkpoint.txt
.ipynb_checkpoints/README-checkpoint.md
*.pyc
*.pyc
py/dataset/.ipynb_checkpoints/data_loader-checkpoint.py
py/dataset/.ipynb_checkpoints/dataset_saver-checkpoint.py
py/dataset/.ipynb_checkpoints/dataset_handler-checkpoint.py
py/training/.ipynb_checkpoints/networks_data-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
py/training/.ipynb_checkpoints/networks_data-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
py/training/.ipynb_checkpoints/networks_data-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
py/networks/.ipynb_checkpoints/gan-checkpoint.py
py/networks/.ipynb_checkpoints/res_net_unit-checkpoint.py
py/utils/.ipynb_checkpoints/plot_perfs-checkpoint.py
py/dataset/.ipynb_checkpoints/modifier-checkpoint.py
py/training/.ipynb_checkpoints/network_nan_recovery-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
py/training/data/.ipynb_checkpoints/networks_data-checkpoint.py
py/training/data/.ipynb_checkpoints/hyperparameters-checkpoint.py
py/training/data/.ipynb_checkpoints/data_loaders-checkpoint.py
py/training/.ipynb_checkpoints/training_pipeline-checkpoint.py
py/training/data/.ipynb_checkpoints/state-checkpoint.py
py/training/.ipynb_checkpoints/training_params-checkpoint.py
py/performances/.ipynb_checkpoints/performances_logger-checkpoint.py
py/utils/.ipynb_checkpoints/graphs_plotter-checkpoint.py
py/utils/.ipynb_checkpoints/images_plotter-checkpoint.py
py/utils/.ipynb_checkpoints/plot_execution_time-checkpoint.py
py/utils/.ipynb_checkpoints/saver-checkpoint.py
bin/.ipynb_checkpoints/trustgan-model-gan-combined-training-checkpoint.py
bin/.ipynb_checkpoints/trustgan-download-data-checkpoint.py
.ipynb_checkpoints/SECURITY-checkpoint.md
