/xps
/build
/.idea
/trustgan.egg-info
run.ipynb
.*.pyc
.*checkpoint.*
.ipynb_checkpoints/compile-checkpoint.txt
.ipynb_checkpoints/README-checkpoint.md
*.pyc
*.pyc
py/dataset/.ipynb_checkpoints/data_loader-checkpoint.py
py/dataset/.ipynb_checkpoints/dataset_saver-checkpoint.py
py/dataset/.ipynb_checkpoints/dataset_handler-checkpoint.py
py/training/.ipynb_checkpoints/networks_data-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
py/training/.ipynb_checkpoints/networks_data-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
py/training/.ipynb_checkpoints/networks_data-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
py/training/networks/.ipynb_checkpoints/gan-checkpoint.py
py/training/networks/.ipynb_checkpoints/res_net_unit-checkpoint.py
py/utils/.ipynb_checkpoints/plot_perfs-checkpoint.py
py/dataset/.ipynb_checkpoints/modifier-checkpoint.py
py/training/.ipynb_checkpoints/network_nan_recovery-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
py/training/.ipynb_checkpoints/training-checkpoint.py
